/* //conatiner for the calendar to be held in */
    .calendarBox{
        width:100%;
        border:1px solid black;
    }
    table{
        width:100%;
    }
    /* EVENLY SPACES OUT THE DAYS OF THE WEEK BOXES */
   .daysOfWkData{
         border-bottom:1px solid black; 
        width:14%;
    }
    /* EVENLY SPACES THE DATES IN THE MONTH BOXES AND DISPLAY NUMERICAL DAY OF MONTH IN TOP LEFT CORNER */
    .addDay{
        width:14%;
        height:200px;
     vertical-align: baseline;
     text-align: left;
     padding-left:5px;
     border:1px solid black;
    }
    .monthContainer{
        width:30%;
        height:100px;
        display:inline-flex;
         margin-left:38.5%; 
        text-align: center;
        padding-bottom:10px;
    }
    .monthOption{
        width:100%;
        line-height:100px;
        font-size: 30px;
    }
    .yearOption{
        width:30%;
        font-size: 25px;
        padding:10px 0 10px 0;
        text-align: center;
        margin-left:38.5%;
       
    }
    
